

@font-face {
    font-family: 'Micro 5';
    src: url('fonts/micro5.ttf') format('truetype'); 
    font-weight: normal;
    font-style: normal;
}
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
body {
    font-family: 'M PLUS 1', sans-serif;
    margin: 0;
    padding: 0;
    background-color: white;
}
h1 {
    font-family: 'Micro 5', Arial, sans-serif;;
    font-size: 6rem;
    margin-bottom: 2%;

}

header {
    background-color: black;
    color: white;
    margin: 1%;
    text-align: center;
    justify-content: center;
    width: auto;
    height: auto;
}

#register {
    text-decoration: none;
    color: black;

}


footer {
    position: fixed;
    text-align: center;
    margin: 1%;
    background-color: #1E1E1E;
    color: white;
    padding: 2%;
    width: 100%;
    bottom: 0;
}


/* Small devices (portrait tablets and large phones, 600px and up) */
@media only screen and (min-width: 600px){
}
/* Medium devices (landscape tablets, 768px and up) */
@media only screen and (min-width: 768px) {}
/* Large devices (laptops/desktops, 992px and up) */
@media only screen and (min-width: 992px) {}
/* Extra large devices (large laptops and desktops, 1200px and up) */
@media only screen and (min-width: 1200px) {
}