

@font-face {
    font-family: 'Micro 5';
    src: url('fonts/micro5.ttf') format('truetype'); 
    font-weight: normal;
    font-style: normal;
}
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
body {
    font-family: 'M PLUS 1', sans-serif;
    background-color: white;
    height: auto;
}
h1 {
    font-family: 'Micro 5', Arial, sans-serif;;
    font-size: 6rem;
    margin-bottom: 2%;

}

input#usuari {
    width:90%;
    text-align: center;
}
input#password  {
    text-align: center;
    width: 90%;
}

#nocompte {

    justify-content: center;
    text-align: center;
    margin-top: 10px;
}
#botoinicisesio {
    justify-content: center;
    margin-top: 10px;
    text-align: center;
    padding: 3%;

}
header {
    background-color: black;
    color: white;
    margin: 1%;
    text-align: center;
    justify-content: center;
    width: 99%;
    height: auto;
}

#register {
    text-decoration: none;
    color: black;

}
#formindex {
    text-align: center;
    border:  solid black 1px;
    border-radius: 2px;
    margin-right: 45%;
    margin-left: 45%;
    padding: 5px;
}

footer {
    
    position: fixed;
    text-align: center;
    margin: 1%;
    background-color: #1E1E1E;
    color: white;
    padding: 2%;
    width: 100%;
    bottom: 0;
}


/* Small devices (portrait tablets and large phones, 600px and up) */
@media only screen and (min-width: 600px){
}
/* Medium devices (landscape tablets, 768px and up) */
@media only screen and (min-width: 768px) {}
/* Large devices (laptops/desktops, 992px and up) */
@media only screen and (min-width: 992px) {}
/* Extra large devices (large laptops and desktops, 1200px and up) */
@media only screen and (min-width: 1200px) {
}